/* Global Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
}

/* Header */
header {
    background-color: #f4f4f4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

h2.title {
    text-align: center;
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 30px;
    color: #fff;
    width: 100%;
}

/* Navigation */
.navigation a {
    color: red;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: black;
}

.logo {
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8em;
}

/* Main Section */
section {
    padding: 100px 200px;
    color: white;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #181a1b;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 200;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    font-size: 2em;
    font-weight: 800;
}

/* Social Icons */
.social-icons a {
    margin-right: 10px;
    margin-top: 10px;
}

.social-icons img {
    max-width: 100%;
    max-height: 26px;
    display: block;
}

/* Cards */
.cards {
    background: linear-gradient(135deg, #181a1b, #1f2223);
    width: 98%;
    max-width: 3000px;
    margin: 20px auto;
    box-shadow: 0 10px 30px rgba(0.10, 0.10, 0.10, 0.10);
    border-radius: 10px;
    padding: 50px 25px;
    text-align: center;
    color: #ffffff;
    line-height: 1.8;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.cards:hover {
    transform: scale(1.02);
}

/* Content */
.content {
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease;
    transform: scale(0.9);
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

/* Info */
.info h3 {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #ffffff;
    text-align: center;
    line-height: 1.5;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

/* Divider */
.divider {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 20px 0;
}

/* Services */
#Services {
    background: linear-gradient(135deg, #181a1b, #1f2223);
    color: #ffffff;
    padding: 50px 200px;
    border-radius: 10px;
}

/* Booting */
.boot-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    z-index: 9999;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 20px;
    overflow: hidden;
    transition: filter 0.4s ease;
}

.blur-effect {
    filter: blur(100px);
}

/* Project Card */

.project-card,
.project-info {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #25282a, #303436);
    border-radius: 10px;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    margin-bottom: 10px;
    flex-shrink: 0;
}

.project-card:hover,
.project-info:hover {
    transform: scale(1.03);
    opacity: 0.9;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.project-category {
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    line-height: 1.5;
}

.project-title {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin-top: 10px;
    text-transform: none;
}

.project-title span {
    font-size: 1em;
    line-height: 1.6;
    display: block;
    font-weight: 500;
}

.more-details {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    color: #ff6b6b;

}

.more-details:hover {
    text-decoration: underline;
    color: #fff;
}

#Projects {
    background: linear-gradient(135deg, #181a1b, #1f2223);
    color: #ffffff;
    padding: 50px 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.projects .content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.project-container {
    width: 48%;
    box-sizing: border-box;
}

.project-container-left,
.project-container-right {
    display: flex;
    justify-content: center;
}

/*content*/

.content {
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease;
    transform: scale(0.9);
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#content {
    background-color: #181a1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    color: white;
}

.title {
    font-size: 2em;
    margin-bottom: 30px;
    color: #fff;
}

.content-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.content-container-left,
.content-container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-category {
    font-size: 1.1em;
    margin-bottom: 10px;
}

a {
    color: #ff6b6b;
    text-decoration: none;
}

/* Cards */

.card {
    background: linear-gradient(135deg, #25282a, #303436);
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.divider_ {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-top: 20px;
    clear: both;
}

/*footer*/

.footer {
    background-color: #000;
    color: #fff;
    padding-left: 0.3em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 0.9em;
    font-weight: 600;
}

body {
    overflow-x: hidden;
}

@media (max-width: 1023px) {
    header {
        padding: 10px 40px;
    }

    section {
        padding: 50px 40px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    #Services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        width: 90%;
        margin: 20px auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        background-color: #25282a;
        border-radius: 10px;
        text-align: center;
        max-width: 100%;
    }

    .service-card {
        width: 100%;
        max-width: 400px;
        padding: 15px;
        background: linear-gradient(135deg, #25282a, #303436);
        border-radius: 10px;
        color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    .service-card:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }
}

header {
    padding: 10px 40px;
}

.title {
    text-align: left;
    padding-left: 20px;
}

.navigation {
    font-size: 1em;
}

@media (max-width: 480px) {
    .title {
        padding-left: 15px;
        font-size: 1.5em;
    }

    #Services {
        padding: 15px;
    }

    .service-card {
        padding: 10px;
    }

    .content-container {
        flex-direction: column;
    }
}
